* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #414141;
    --theme: #06b7a8;
    --theme-darker: #0a8c7e;
    --theme-lighter: #0ed2c3;
    --text: #85b0ad;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--bg);
    user-select: none;
}

#game {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    border: 5px solid var(--theme);
    position: relative;
    overflow: hidden;
}

#menu {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Press Start 2P', cursive;
}

#menu .title {
    font-size: 3rem;
    color: var(--theme);
    margin-bottom: 1rem;
}

#menu p {
    font-size: 1.5rem;
    color: #85b0ad;
    margin-bottom: 1rem;
}

.bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: black;
}

.bg::after {
    opacity: 0.06;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#292B2D 2px, transparent 2px), linear-gradient(90deg, #292B2D 2px, transparent 2px), linear-gradient(#292B2D 1px, transparent 1px), linear-gradient(90deg, #292B2D 1px, transparent 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 0 20%;
}

.btn {
    
}

/* 

.btn {
    background: var(--theme-lighter);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 1.8em;
    padding: 20px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px var(--theme-darker);
    cursor: pointer;
    opacity: 0.7;
}

.btn:hover,
.btn:focus {
    background: var(--theme);
    box-shadow: inset -6px -6px 0px 0px var(--theme-darker);
}

.btn:active {
    box-shadow: inset 4px 4px 0px 0px var(--theme-darker);
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.btn:before {
    top: -6px;
    left: 0;
    border-top: 6px var(--text) solid;
    border-bottom: 6px var(--text) solid;
}

.btn:after {
    left: -6px;
    top: 0;
    border-left: 6px var(--text) solid;
    border-right: 6px var(--text) solid;
} */